body{        
    margin:0;
    padding:0;
    background-image: url(../img/background-1070342_960_720.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

 }
 #navbar {
	opacity: 0.8;
	border-bottom: 1px solid #00FFFF;
}
#nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}
#nav a:hover{
  color:#00FFFF;
}
#center{
  margin-top:15vh;
  margin-bottom: 15vh;
}
.row {
  margin-top: 5%;
  margin-bottom: 5%;
}
h1,h4,h5{
  font-family: 'KoHo', sans-serif;
}
 .footer {
	bottom: 0;
	width: 100%;
	background: #333;
	padding: 10px 0;
	color: #fff;
}
  
