body{        
	margin:0;
	padding:0;
	background-color:#A8CCCD !important;
  }
#navbar {
	opacity: 0.8;
	border-bottom: 1px solid tomato;
}
#nav a {
	color: #fff;
	text-decoration: none;
	padding: 7px 25px;
	display: inline-block;
}
#nav a:hover{
	color:tomato;
}

.row {
	margin-top: 5%;
	margin-bottom: 5%;
}
p{
	padding:10px 10px;
}
h1{
	text-align: center;
	margin-top: 1%;
	font-family: 'Itim', cursive;
}
h4{
	font-family: 'Itim', cursive;
}
.footer {
	bottom: 0;
	width: 100%;
	background: #333;
	padding: 10px 0;
	color: #fff;
	text-align: center;
}
img{
	width: 80%;
}