body {
    margin: 0;
    padding: 0;
}

.navbar {
    opacity: 0.9;
    border-bottom: 1px solid maroon;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
nav a:hover {
    color: maroon;
}
.container {
    width: 80%;
    margin: 0 auto;
}

a.okul {
    color: black;
}
a.okul:link {
    text-decoration: none;
}
a.okul:hover {
    color: brown;
}
.footer {
	bottom: 0;
	width: 100%;
	background: #333;
	padding: 10px 0;
	color: #fff;
}
